[global]
	workgroup = WORKGROUP
	netbios name = Docker
	server string = Samba Server Version %v

	# Uncomment to map SMB user to system user root
	# admin users = vpn_proxy_smb_user

	map to guest = Bad User
	security = user
	passdb backend = tdbsam
	unix password sync = no
	name resolve order = bcast host lmhosts wins

	directory mask = 0755
	force create mode = 0644
	force directory mode = 0755

	syslog = 0

	load printers = No
	printing = bsd
	printcap name = /dev/null
	disable spoolss = Yes

[ExampleFolder]
	comment = VPN proxy network share example
	path = /mnt
	available = yes
	browseable = yes
	writable = yes
	valid users = vpn_proxy_smb_user

